<footer class="footer">

<div class="footer-top">

<div class="footer-col">
<h3>TradeSphere</h3>

<p>
Vaishnavi Tech Park, South Tower, 3rd Floor<br>
Sarjapur Main Road, Bellandur, Bengaluru – 560103<br>
Karnataka
</p>

<a href="/contact">Contact Us</a>
<a href="/#">Contact via WhatsApp</a>
<a href="/">Contact Us</a>

<div class="app-icons">
<img src="{{ url_for('static', filename='images/apple-store.png') }}">
<img src="{{ url_for('static', filename='images/play-store.png') }}">
</div>

</div>


<div class="footer-col">
<h4>TradeSphere</h4>

<ul>
<li><a href="/about">About Us</a></li>
<li><a href="/pricing">Pricing</a></li>
<li><a href="/blog">Blog</a></li>
<li><a href="/contact">Contact</a></li>
</ul>

</div>


<div class="footer-col">
<h4>Products</h4>

<ul>
<li><a href="/stocks">Stocks</a></li>
<li><a href="/fo">F&O</a></li>
<li><a href="/mtf">MTF</a></li>
<li><a href="/etf">ETF</a></li>
<li><a href="/ipo">IPO</a></li>
<li><a href="/mutualfunds">Mutual Funds</a></li>
<li><a href="/commodities">Commodities</a></li>
<li><a href="/terminal">Terminal</a></li>
</ul>

</div>


<div class="footer-col">
<h4>More</h4>

<ul>
<li><a href="/terminal915">915 Terminal</a></li>
<li><a href="/screeners">Stock Screeners</a></li>
<li><a href="/algotrading">Algo Trading</a></li>
<li><a href="/charts">Charts</a></li>
<li><a href="/digest">Digest</a></li>
<li><a href="/demat">Demat Account</a></li>
<li><a href="/amc">Groww AMC</a></li>
</ul>

</div>

</div>


<hr>


<div class="footer-bottom">
<p>© 2025–2026 TradeSphere. All rights reserved.</p>
<span>Version: 7.3.9</span>
</div>

</footer>